.navigationBar
	width 100%
	height 64px
	background-image linear-gradient(to right, #FF1493, #FF8C69)
	position fixed
	top 0
	z-index 9
	.navigationBar_title
		position absolute
		left 50%
		top 60%
		transform translate(-50%,-50%)
.main
	position absolute
	top 64px
	left 0
	right 0
	bottom 0
	z-index -1
	.main_img
		width 100%
		height 100%
	.text
		font-weight 600
		padding 10px
		background-color rgba(255, 228, 181, .4)
		color #ea691f
		border-radius 5px
		position absolute
		left 50%
		top 70%
		transform translate(-50%,-50%)