.navigationBar
	width 100%
	height 64px
	background-image linear-gradient(to right, #FF1493, #FF8C69)
	position fixed
	top 0
	z-index 9
	.navigationBar_title
		position absolute
		left 50%
		top 50%
		transform translate(-50%,-50%)
	.navigationBar_back
		width 30px
		position absolute
		left 10px
		top 40%
.item_main
		margin 64px 0 100px
		.main_top
			position relative
			height 260px
			overflow hidden
			.main_top_bg1
				filter blur(20px)
				width 100%
				height 100%
				opacity .4
			.main_top_bg2
				position absolute
				left 0
				top 0
				width 100%
				height 100%
				background-color #333
				z-index -2
			.main_top_pj
				position absolute
				bottom 10px
				left 10px	
				color red
			.main_top_empty,.main_top_up,.main_top_down
				position absolute
				left 10px
				bottom 35px
			.main_top_img
				position absolute
				left 0
				top 50%
				transform translateY(-50%)
				width 150px
				border-radius 10px
			.main_top_text
				height 100%
				position absolute
				left 150px
				top 0
				padding 10px
				view
					margin 10px
				.text_name
					font-size 20px
					font-weight 700
					color #DD524D
		.main_bottom
			padding 20rpx
			.main_bottom_title
				font-size 25px
				font-weight 700
			p	
				margin 20px
				letter-spacing 5rpx
				line-height 2
	.item_footer
		position fixed
		bottom 0
		width 100%
		height 60px
		display flex
		flex-flow row nowrap
		justify-content center
		.footer_icon
			position absolute
			top 20%
			left 5%
		.footer_a
			flex-basis 38%
			text-align right
			line-height 80px
			font-size 12px
			border-radius 10px 0 0 10px
			background-color #796b58
		.footer_c
			flex-basis 58%
			text-align center
			line-height 60px
			font-size 25px
			font-weight 700
			border-radius 0 10px 10px 0
			color black
			background-color #ff980f
		
		
					
				
				