.input
	margin-top 76.5px
	padding 0 50px
	height 30px	
	position relative
	.input_img
		width 30px
		position absolute
		left 20px
	.myinput
		margin 0 auto
		padding-left 5px
		font-size 13px
		width 520rpx
		height 28px
		border 1px solid #FF1493
		border-radius 10px
		color #FF1493
	.input_enter
		position absolute
		right 5%
		top 1px
		text-align center
		line-height 30px
		background-color #FF1493
		width 30px
		height 30px
		border-radius 50%
		box-shadow 2px 2px 2px black
	.input_inpList_out
		width 100%
		height 20px
		position absolute
		left 0
		top 35px
		background-color rgba(0,0,0,0)
		z-index 22
	.input_inpList
		width 520rpx
		max-height 300px
		position absolute
		left 50%
		top 0
		transform translateX(-50%)
		border 1px solid red
		border-radius 10px
		box-shadow 0 0 5px black
		background-color white
		z-index 22
		.inp_item_hover
			height 30px
			padding 3px 5px
			margin-top 5px
			display flex
			justify-content flex-start
			flex-flow row nowrap
			background-color #e6009d
		.inp_item
			height 30px
			padding 3px 5px
			margin-top 5px
			display flex
			justify-content flex-start
			flex-flow row nowrap
			.inp_item_name
				width 50px
				color red
			.inp_item_img
				width 30px
				border-radius 5px
			.inp_item_val
				padding-left 5px
				flex 1
				overflow hidden
				white-space nowrap
				text-overflow ellipsis
	.inputMore
		padding 40rpx
		position absolute
		left 0px
		top -375px
		height 300px
		width 675rpx 
		background-color white
		opacity 0
		z-index 3
		.inputMore_top
			min-height 70px
			.inputMore_top_title
				font-size 13px
				height 30px
				line-height 30px
				position relative
				.more_img
					width 20px
					position absolute
					left 300px
					top 5px
			.inputMore_top_main
				max-height 111px
				display flex
				flex-flow row wrap
				justify-content space-between
				font-size 13px
				.inputMore_top_main_item
					margin 5px
					padding 2px 5px
					background-color #d6d6d6
					border-radius 10px
					&:last-child
						margin-right auto
		.more_close
			width 100%
			height 400px
			position absolute
			top 340px
			left 0
			background-color rgba(0,0,0,.6)
			.more_close_img
				width 50px
				position absolute
				left 50%
				top 40%
				transform translate(-50%,-50%)
				
			
			