.navigationBar
	width 100%
	height 64px
	background-image linear-gradient(to right, #FF1493, #FF8C69)
	position fixed
	top 0
	z-index 9
	.navigationBar_title
		position absolute
		left 50%
		top 60%
		transform translate(-50%,-50%)
.main_swiper	
	margin-top 12.5px
	width 100%
	height 440upx
	.main_img
			width 700upx
			height 440upx
			border-radius 10px
.main-middle
	width 100%
	margin 10px auto
	.main_middle_title
		height 50rpx
		line-height 70rpx
		background-image linear-gradient(to right,#FF1493, #FF8C69)
		padding 10rpx
		text-align left
		font-size 14px
		font-weight 700	
	.scroll
		width 100%
		white-space nowrap	
		.scroll_item
			margin 5px
			display inline-block
			.myImg
				width 600rpx
				border-radius 5px
			.myText
				text-align center
				.myText_red
					color red
					text-shadow 1px 1px 5px red
.main_bottom
	width 100%
	.main_bottome_title
		height 50rpx
		line-height 70rpx
		background-image linear-gradient(to right,#FF1493, #FF8C69)
		padding 10rpx
		text-align left
		font-size 14px
		font-weight 700
	.main_bottom_main
		display flex
		flex-flow row wrap
		justify-content space-around
		.item
			width 160px
			height 190px
			margin-top 10px
			border-radius 5px
			.bg
				width 100%
				height 160px
				border-radius 5px
			.description
				text-align center
	.main_bottom_bottom
		text-align center